{% extends "base.html" %}
{% block content %}
&emsp;
<h1 align = "center"></align><i class="fa fa-paint-brush" style="font-size:50px;"></i></h1>
<h1 align = "center">Bersihkan Kos</h1>
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.button {
  background-color: #cc86e3;
  border: none;
  color: white;
  padding: 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  margin: 4px 2px;
  cursor: pointer;
}

.button1 {border-radius: 50%;}
.button2 {border-radius: 50%;}
.button3 {border-radius: 50%;}
</style>
</head>
<body>

<h3 align = "center"><button class="button button1">Kamar</button></h3>
    <h4 align = "center"><input type="button" value="Rp 10.000,00/meter"></h4>
<h3 align = "center"><button class="button button1">Kamar Mandi</button></h3>
    <h4 align = "center"><input type="button" value="Rp 15.000,00/meter"></h4>
<h3 align = "center"><button class="button button1">Combo</button></h3>
    <h4 align = "center"><input type="button" value="Rp 20.000,00/meter"></h4>

&emsp;
<h4 align = "center"><input type="text" value="WhatsApp:081201450196"></h4>
</body>
</html>
{% endblock %}
