{% extends "base.html" %}
{% block content %}
<h1 align = "center">Tentang Kami</h1>
&emsp;
<form>
    <textarea align = "center" rows="11" cols="100" readonly>
Layanan Real Kosan adalah website yang dikembangkan oleh mahasiswa IPB untuk membantu mahasiswa lainnya dalam mencari tempat tinggal yang dibutuhkan selama berkuliah di IPB. Layanan Real Kosan memberikan informasi yang membantu mahasiswa untuk memilih tempat tinggal yang sesuai dengan keinginan. Real Kosan juga bekerja sama dengan beberapa mitra untuk memenuhi kebutuhan mahasiswa seperti bersih-bersih kosan dan layanan pindah kosan.

                                                        Project RPL Kelompok 12 2021
                                                        Ikhsanul Putra Sandy (G24180028)
                                                        M Afif D Kusuma        (G24180051)
                                                        Velia Putri Alisha         (G24180056)
    </textarea>
</form>
{% endblock %}
