{% extends "base.html" %} {% block title %}Real Kosan{% endblock %} {% block content %}

<h1 align = "center">Real Kosan</h1> 
&emsp;
<!DOCTYPE html>
<html>
<head>
<style>
.button {
  background-color: #cc86e3;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
</style>
</head>
<body>

<h2 align = "center"><button class="button"><li><a href = "/carikos">Cari Kos</a></li></button>
<button class="button"><li><a href = "/bersihkankos">Bersihkan Kos</a></li></button>
<button class="button"><li><a href = "/pindahkos">Pindah Kos</a></li></button>
</h2>
{% endblock %}

</body>
</html>
