{% extends "base.html" %} {% block title %}Pindah Kos{% endblock %}

{% block content %}
&emsp;
<h1 align = "center"></align><i class="fa fa-truck" style="font-size:50px;"></i></h1>
<h2 align = "center">Pindah Kos</h2>
&emsp;
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.button {
  background-color: #04AA6D; /* Green */
  border: none;
  color: white;
  padding: 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  margin: 4px 2px;
  cursor: pointer;
}

.button1 {border-radius: 50%;}
.button2 {border-radius: 50%;}
.button3 {border-radius: 50%;}
</style>
</head>
<body>

<h3 align = "center"><button class="button button5">Reguler</button>
    Rp 5.000,00/kg
<button class="button button5">Asik</button>
<button class="button button5">Mantap</button>
</h3>
</body>
</html>

{% endblock %}