{% extends "base.html" %} {% block title %}Sign Up{% endblock %}

{% block content %}
<form method="POST">
    <h3 align = "center">Sign Up</h3>
    <div class = "form-group">
        <label for = "email">e-mail</label>
        <input 
            type = "email" 
            class = "form-control" 
            id = "email" 
            name = "email" 
            placeholder = "Masukkan e-mail"
        />
    </div>
    <div class = "form-group">
        <label for = "password1">Kata Sandi</label>
        <input 
            type = "password" 
            class = "form-control" 
            id = "password1" 
            name = "password1" 
            placeholder = "Masukkan kata sandi baru"
        />
    </div>
    <div class = "form-group">
        <label for = "password2">Konfirmasi Kata Sandi</label>
        <input 
            type = "password" 
            class = "form-control" 
            id = "password2" 
            name = "password2" 
            placeholder = "Masukkan kata sandi yang telah dibuat"
        />
    </div>
    <br />
    <button type = "submit" class = "btn btn-primary">Daftar</button>
</form>
{% endblock %}